parameters:
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::validateWithBag\(\)\.#' 
        - '#Call to an undefined method [a-zA-Z0-9\\_\|]+::after\(\)\.#'
        - '#Call to an undefined method [a-zA-Z0-9\\_\|]+::delete\(\)\.#' 
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+::send\(\)#'